*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  scroll-behavior: smooth;
}
  
  body {
    font-family: 'Roboto Mono',monospace;
    background-color: #242323;
    background-position: center bottom;
    background-repeat: no-repeat;
  }

  .container {
    text-align: center;
    padding: 30px;
    height: 100vh;
  }
  
  .notas input[type=number] {
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #348adb;
    padding: 14px 10px;
    width: 20%;
    color: #ffffff;
    border-radius: 26px;
    transition: 0.25s;
    font-size: 16px;
    font-weight: 600;
  }

  .notas input[type=number]:hover {
    background: #348adb;
    border: 4px solid #2ecc71;
    font-size: 20px;
    font-weight: 700;
  }

  .notas button[type=submit] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    width:20%;
    outline: none;
    color: #34a6db;
    border-radius: 24px;
    transition: 0.3s;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
  }

  .notas button[type=submit]:hover {
    background: #2ecc71;
    font-size: 22px;
    font-weight: 700;
    border: 4px solid #348adb;
  }

  .notas h2 {
    color: rgb(255, 255, 255);
    font-size: 28px;
  }

  .notas {
    text-align: center;
    margin: 0 0 5px;
  }
  
  .page-title {
    color:#ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color:#ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  @media screen {
    
  }